/* Contenedor principal */
.container-custom {
    max-width: 700px;
    margin: 30px auto; /* CENTRADO HORIZONTAL */
    padding-top: 30px;
}
/* Títulos */
.card-title {
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 15px;
}

/* Cards modernas */
.card-custom {
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    border: 1px solid #eee;
    background: #fff;
}

/* Botón principal */
.btn-primary-custom {
    background-color: #0d6efd;
    border-radius: 8px;
    padding: 10px;
    border: none;
    font-size: 1rem;
    width: 100%;
}

.btn-primary-custom:hover {
    background-color: #0b5ed7;
}

/* Inputs */
.form-control {
    border-radius: 8px;
    padding: 10px;
    font-size: 0.95rem;
}

/* Tabla */
.table-custom th {
    background-color: #f8f9fa;
    font-weight: bold;
}

.table-custom td {
    background-color: #fff;
}

.table-custom tr:nth-child(even) td {
    background-color: #f1f3f5;
}

/* Espaciado entre secciones */
.section-space {
    margin-top: 40px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    width: 400px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}